* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --success: #2ecc71;
  --error: #e74c3c;
  --warn: #f39c12;
  --info: #73af00;
  --primary: #0085af;
  --secondary: #5d6661;
  --black: #363636;
  --light: #e7e7e7;
  --light-2: #f2f2f2;
  --dimmed: #b7c9b3;
  --primary-2: #3498db;
  --loader-color: var(--primary);
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #e4e4e4;
  --loader-size: 48px;
}
button {
  cursor: pointer;
}

.moderlogin {
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 790px;

  height: 487px;
  background-color: rgba(177, 177, 177, 0.918);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
form > p,
.modalsms > p {
  font-size: 55px;
  color: #5d6661;
}

form > input {
  width: 574px;
  height: 91px;
  border-radius: 18px;
  background: white;
  border: none;
  outline: none;
  font-size: 36px;
  padding-left: 13px;
}

form > button {
  width: 340px;
  height: 77px;
  border-radius: 18px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 36px;
}

.modalsms {
  width: 790px;
  height: 478px;
  background-color: white;
  border-radius: 35px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  z-index: -3;
}
.modalsms > button {
  width: 340px;
  height: 77px;
  border-radius: 18px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 36px;
}

.qaytayuborish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qaytayuborish > span {
  font-size: 22.65px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}

.moder {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card {
  width: 331px;
  border-radius: 27px;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: rgb(244, 244, 244);
  padding: 18px;
  margin: 7px 0;
  text-align: start;
}

.card .slide-item {
  width: 295px;
}
.card .slide-item img {
  width: 295px;
  height: 210px;
  border-radius: 27px;
}

.card :nth-child(4) {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.last {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.control {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.control > button {
  width: 35.25px;
  height: 36px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qayta {
  color: rgb(52, 152, 219);
  margin: 10px;
  cursor: pointer;
}

#logout {
  border: none;
  background: none;
  position: fixed;
  bottom: 14px;
  right: 20px;
}

.calumsms {
  display: flex;
  flex-direction: column;
}
.paginations button {
  border-radius: 11px;
  background: var(--swiper-pagination-bullet-inactive-color);
  box-shadow: 0px 2px 3.8px 0px rgba(0, 0, 0, 0.25);
  color: var(--secondary);
  font-size: 22.65px;
  font-weight: 400;
  width: 45px;
  height: 45px;
  border: 1px solid var(--swiper-pagination-bullet-inactive-color);
  transition: 300ms ease;
}

.paginations button.active {
  border-radius: 11px;
  border-color: var(--primary-2);
  background: var(--light-2);
  translate: 0px -3px;
}
.paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  position: fixed;
  z-index: 99;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
